# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.*

# Crash log files
crash.log

# TF overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

terraform_key.json
